@charset "UTF-8";
    body{background-color:darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
    h1 {
      color: rgb(30, 210, 135);
    }
    h2 {color: rgb(10, 10, 10);}
    p {
      text-align: justify;
    }